{% extends '_base.html' %}
{% block main %}
<div class="b-pagination-indicator m-yellow">
</div>


<div class="b-page-section m-yellow m-extra-padding">
   <div class="row">
    <div class="large-3 columns m-side-heading">
        <h1>Responses<span class="linebreak"><br></span> to the RFI</h1>
    </div>

    <div class="large-8 columns end m-text-large">

        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">Affinity</p>
                    <p class="e-card-description"><a href="./files/rfi-response-affinity.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>

        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">Capstone Strategy Group</p>
                    <p class="e-card-description"><a href="./files/rfi-response-capstone-strategy-group.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">Council on Foundations</p>
                    <p class="e-card-description"><a href="./files/rfi-response-council-on-foundations.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">Department of Better Technology</p>
                    <p class="e-card-description"><a href="./files/rfi-response-department-of-better-technology.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>

        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">DonationXChange</p>
                    <p class="e-card-description"><a href="./files/rfi-response-donationxchange.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>
        

        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">GuideStar & Simple Charity Registration</p>
                    <p class="e-card-description"><a href="./files/rfi-response-guidestar-simple-charity-registration.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>

        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">Hawaii Information Consortium</p>
                    <p class="e-card-description"><a href="./files/rfi-response-hawaii-information-consortium.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>

        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">IRIS</p>
                    <p class="e-card-description"><a href="./files/rfi-response-iris.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">OurRecords</p>
                    <p class="e-card-description"><a href="./files/rfi-response-ourrecords.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>
        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">Tecuity</p>
                    <p class="e-card-description"><a href="./files/rfi-response-tecuity.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>


        <div class="e-card">
                <div class="e-card-inner m-yellow">
                    <p class="e-card-name">VisionLink</p>
                    <p class="e-card-description"><a href="./files/rfi-response-visionlink.pdf" class="b-button">Download PDF</a></p>
                </div>
        </div>

      </div>
    </div>
</div>

{% endblock %}