{% extends '_base.html' %}
{% block main %}
<div class="b-pagination-indicator m-yellow">
</div>


<div class="b-page-section m-yellow m-extra-padding">
   <div class="row">
    <div class="large-3 columns m-side-heading">
        <h1>Responses<span class="linebreak"><br></span> to the RFI</h1>
    </div>
    <div class="large-8 columns end m-text-large">
        <p class="b-announcement m-yellow">Responses to the RFI are now available <i class="material-icons">star</i></p>
        <p>On February 17, 2016, MRFP, Inc. issued a Request for Information (RFI) seeking input from vendors, government officials, technology and public policy professionals and anyone else with knowledge of platforms, processes, tools and/or methods to simplify the completion and submission of forms—including the submissions of relevant data— and to allow charitable organizations and their professional fundraisers to comply with all states’ registration and annual filing requirements through a unified “one-stop” solution. The RFI remained open for public comment until April 8, 2016.</p>
        <a class="b-button" href="rfi-responses.html">View the RFI Responses</a>
    </div>
</div>

<div class="b-page-section m-yellow m-extra-padding">
   <div class="row">
    <div class="large-3 columns m-side-heading">
        <h1>Responses<span class="linebreak"><br></span> to Questions About the RFI</h1>
    </div>
    <div class="large-8 columns end m-text-large">
        <p class="b-announcement m-yellow">Responses to questions on the RFI are now available <i class="material-icons">star</i></p>
        <p>On March 15, 2016, MRFP, Inc. hosted an open conference call to provide additional background information about the project and answer any questions from the public. Additionally, interested parties were permitted to submit questions about the RFI in writing until March 16, 2016.</p>
        <a class="b-button" href="qa.html">View the Responses</a>
    </div>
</div>
<div class="row">
    <div class="large-3 columns m-side-heading">
        <h1>Statement<span class="linebreak"><br></span> of Purpose</h1>
    </div>
    <div class="large-8 columns end m-text-large m-collapsible m-collapsed">
        <p>The Multistate Registration and Filing Portal, Inc. (MRFP), a Delaware nonprofit corporation working with the National Association of State Charities Officials (NASCO), and the National Association of Attorneys General (NAAG), currently represents an initial development group of 13 pilot states that will be expanded after platform launch to include all states that require charitable organizations and their professional fundraisers to register and provide annual filing information (currently 39 states require registration).</p>

        <p>MRFP is issuing this Request for Information (RFI) seeking input from vendors, government officials, technology and public policy professionals and anyone with knowledge of platforms, processes, tools and/or methods to simplify the completion and submission of forms, including the submissions of relevant data and to allow charitable organizations and their professional fundraisers to comply with all states’ registration and annual filing requirements through a unified “one-stop” solution. The project goal is to maximize efficiency, customer convenience, data transparency, and information sharing by enabling compliance with the registration and reporting requirements of any state, or any combination of multiple states, via a single online software product, without duplication of data entry.</p>

        <p>The one-stop solution should be focused on a user-friendly design. The Beta testing process should include iterative development based on feedback from regulators, and from charities and their professional fundraisers and advisors to further system development.</p>
    </div>
</div>
<div class="row">
    <div class="large-3 columns m-side-heading">
        <h1>Important Dates</h1>
    </div>
    <div class="large-8 columns end m-text-large m-collapsible m-collapsed">
        <div class="b-timeline">
            <div class="e-timeline-graphic">
                <div class="e-timebox"></div>
                <div class="e-timebox"></div>
                <div class="e-timebox"></div>
                <div class="e-timebox "></div>
                <div class="e-timebox"></div>
            </div>
            <div class="e-event">
                <time datetime="2016-03-15T15:00:00-06:00">March 15, 2016 from 3:00 p.m. – 4:30 p.m. EST</time>
                <span class="e-description">MRFP Conference Call</span>
            </div>
            <div class="e-event">
                <time datetime="2016-03-16T17:00:00-08:00">5 p.m. MST on Wednesday, March 16, 2016.</time>
                <span class="e-description">Written questions due</span>
            </div>
            <div class="e-event">
                <time datetime="2016-04-01T17:00:00-08:00">5 p.m. MST on Friday, April 1, 2016</time>
                <span class="e-description">MRFP Point of Contact will respond to questions</span>
            </div>
            <div class="e-event ">
                <time datetime="2016-04-08">April 8, 2016</time>
                <span class="e-description">RFI Closes</span>
            </div>
            <div class="e-event">
                <time datetime="2016-06-30">June 30, 2016</time>
                <span class="e-description">All respondents notified as to whether or not they will be invited to submit a proposal for development of the platform</span>
            </div>
        </div>
        <div class="b-timeline-list m-show">
            <div class="e-event">
                <time datetime="2016-03-15T15:00:00-06:00">March 15, 2016 from 3:00 p.m. – 4:30 p.m. EST</time>
                <span class="e-description">MRFP Conference Call</span>
            </div>
            <div class="e-event">
                <time datetime="2016-03-16T17:00:00-08:00">5 p.m. MST on Wednesday, March 16, 2016.</time>
                <span class="e-description">Written questions due</span>
            </div>
            <div class="e-event">
                <time datetime="2016-04-01T17:00:00-08:00">5 p.m. MST on Friday, April 1, 2016</time>
                <span class="e-description">MRFP Point of Contact will respond to questions</span>
            </div>
            <div class="e-event ">
                <time datetime="2016-04-08">April 8, 2016</time>
                <span class="e-description">RFI Closes</span>
            </div>
            <div class="e-event">
                <time datetime="2016-06-30">June 30, 2016</time>
                <span class="e-description">All respondents notified as to whether or not they will be invited to submit a proposal for development of the platform</span>
            </div>
        </div>
        <p>The RFI will remain open until <time datetime="2016-04-08">April 8, 2016.</time> The information gathered will contribute to a decision-making process that will lead to implementation of a working system in 2016 or the near future. Respondents should submit the proposal file in PDF format to info@mrfpinc.org. All respondents will be notified on or about <time datetime="2016-06-30">June 30, 2016</time> as to whether or not they will be invited to submit a proposal for development of the platform.</p>

        <p>The MRFP will host a conference call on  <time datetime="2016-03-15T15:00:00-06:00">March 15, 2016 from 3:00 p.m. – 4:30 p.m. EST</time> to provide additional background information and answer questions from the public about the registration process. Dial-in: (800) 232-9745; PIN: 3232959. Charities, their registration services providers, and any other interested parties are welcome to participate.</p>
    </div>
</div>
<div class="row m-sm-bot">
    <div class="large-3 columns m-side-heading">
        <h1>System Requirements</h1>
    </div>
    <div class="large-8 columns end m-text-large">
        <h4 class="m-no-padding">The system should:</h4>

        <ul class="e-requirements-list">
            <li>Allow charitable organizations and their professional fundraisers to register and file annual renewals and reports with multiple state charity offices through a single process.</li>
            <li>Allow population of registration fields with data from electronically filed IRS 990 and 990EZ Tax Returns for tax exempt entities (Forms 990), and allow receipt of electronically filed 990s in machine-readable form from IRS, the user, or other sources.</li>
            <li>Allow registration service providers to transmit data for multiple registrant/clients electronically.</li>
            <li>Allow private foundations to file a copy of their IRS Form 990-PF with their state attorney general in machine-readable electronic form, if available, or as a PDF.</li>
            <li>Make the non-confidential collected registration data public in an open data format. Confidential data and Personally Identifiable Information must be inaccessible to unauthorized users.</li>
            <li>Allow users to attach supporting documents as necessary.</li>
            <li>Provide analytic tools for charity regulators to identify outliers that will enable improved response by regulators to potential fraud prevention, negligence or poor governance practices that may lead to loss or waste of charitable assets.</li>
            <li>Use a transaction-based funding model.</li>
            <li>Accept payment of state registration fees from applicants and allocate them to the appropriate state(s).</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-3 columns m-side-heading">
        <h1>Additonal Information</h1>
    </div>
    <div class="large-8 columns end m-text-large m-collapsible m-collapsed">

        <p>Respondents may also send questions in writing to info@mrfpinc.org by <time datetime="2016-03-16T17:00:00-08:00">5 p.m. MST on Wednesday, March 16, 2016.</time> The Point of Contact will post the questions and responses by <time datetime="2016-04-01T17:00:00-08:00">5 p.m. MST on Friday, April 1, 2016</time> at <a href="http://mrfpinc.org">http://mrfpinc.org</a>. More information about this project and MRFP is also available at <a href="http://mrfpinc.org">http://mrfpinc.org</a>.</p>

        <p>Please note that responding to this RFI is not a prerequisite for responding to any future solicitations related to this project and a response to this RFI will not create any contract rights.</p>

        <p>MRFP has selected Christopher Wong (Director of Product at The GovLab at New York University), as its project manager and will consult with the Urban Institute through its Regulation of Nonprofits and Philanthropy Program for facilitation of input from all public and government stakeholders during testing and launch of the anticipated platform.</p>

    </div>
</div>
<div class="row">
    <div class="large-8 large-offset-3 columns end">
        <p class="m-show">
            <a class="b-button" href="files/MRFP-RFI.pdf">Download the Request for Information</a>
        </p>
        <p class="m-show">
            <a class="b-button" href="files/MRFP-RFI-Appendices.pdf">Download the Appendices</a>
        </p>
    </div>
</div>

{% endblock %}