<header class="top-bar top-bar--black">
  <span class="top-bar__button js-trigger-menu">menu</span>

  <nav class="main-menu js-target-menu main-menu--left">
    {% include menu.liquid %}
  </nav>

  <a class="top-bar__logo" href="{{site.url}}{{site.baseurl}}">MRFP, Inc.</a>

  <span class="top-bar__button js-trigger-menu">more_vert</span>
  <nav class="main-menu js-target-menu main-menu--right">
    <a href="https://twitter.com/TheGovLab" target="_blank">Twitter</a>
    <a href="https://www.youtube.com/user/TheGovLab" target="_blank">Youtube</a>
  </nav>
</header>