.page-graphic {
}

.top-bar {
    &--black {
        background-color: $mrfp-blue;
    }
    &__logo {
        font-weight: bold;
        color: #ccc;
        &:hover {
            text-decoration: none;
            color: #ccc;
        }
    }
}

.top-section {
    &--black {
        background-color: $mrfp-blue;
    }
}

.divider {
    &--mrfp {
        padding: 0;
        text-align: center;
        .selected {
            .button {
                color: #aaa;
                &:hover {
                    cursor: default;
                    background-color: transparent;
                }
            }
        }
    }
}

.center {
    text-align: center;
}

.b-us-map {
    .state {
        stroke: #fff;
    }
    .m-pilot {
        fill: $mrfp-blue;
    }
}

@media (max-width: 600px) {
    ul.b-contact {
        padding-left: 0;
    }
}