.page-graphic {
}

.top-bar {
    &--black {
        background-color: $mrfp-blue;
    }
    &__logo {
        font-weight: bold;
        color: #fff;
        transition: color 0.2s ease-out;
        &:hover {
            text-decoration: none;
            color: #ddd;
            transition: color 0.2s ease-out;
        }
    }
    &--transparent {
        background-color: transparent;
    }
    position: absolute;
    top: 0;
    width: 100%;
}

.top-section {
    &--green { background-color: $mrfp-green; }
    &--yellow { background-color: $mrfp-yellow; }
    &--purple { background-color: $mrfp-purple; }
    &--black { background-color: $mrfp-blue; }
    h3 {
        font-weight: 400;
    }
}

.divider {
    &--mrfp {
        padding: 0;
        text-align: center;
        .selected {
            .button {
                color: #aaa;
                &:hover {
                    cursor: default;
                    background-color: transparent;
                }
            }
        }
    }
}

.center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.b-us-map {
    .state {
        stroke: #fff;
    }
    .m-pilot {
        fill: $mrfp-blue;
    }
}

.rfi-responses {
    .row {
        padding: 20px 0;
    }
    .row:nth-child(even) {
        background-color: rgba(0,0,0,0.05);
    }
    .button {
        background-color: transparent;
        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }
    p {
        // margin: 0;
    }
}

// .b-question-answer {
//     dt {
//         font-size: 1rem;
//     }
// }

.q-and-a {
    dt {
        margin: 30px 0;
        font-size: 1.1rem;
    }
}

.blog-side-bar {
    background-color: $mrfp-purple;
    padding: 40px 0;
    a {
        display: block;
        color: #fff;
        padding: 20px 60px;
        display: block;
        color: white;
        font-weight: 500;
        // text-transform: uppercase;
        letter-spacing: .4px;
        text-align: right;
        text-decoration: none;
        &:hover {
            background-color: lighten($mrfp-purple, 20);
        }
    }
}

.blog-main {
    padding: 0;
    .post {
        padding: 60px 0;
        &:nth-child(even) {
            background-color: rgba(0,0,0,0.05);
        }
    }
    h2 {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        text-transform: none;
    }
    a {
        font-weight: bold;
        text-decoration: none;
        color: $mrfp-purple;
        .date {
        }
        &:hover {
            color: lighten($mrfp-purple, 20);
        }
    }
    .meta {
        text-align: center;
        opacity: 0.5;
    }
    .post {
        // padding: 0 60px;
        margin: 0;
    }
}

.slider { &--main-page { .slide { min-height: 350px; } } }

@media (max-width: 900px) {
    .slider { &--main-page { .slide { min-height: 450px; } } }
}

@media (max-width: 600px) {
    .slider { &--main-page { .slide { min-height: 550px; } } }

    .blog-side-bar {
        display: none;
    }
    .top-section {
        h1 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 1rem;
        }
    }
    ul.b-contact {
        padding-left: 0;
    }
}