---
layout: default
---

<div class="top-section top-section--black">
    <h1>Multistate Registration and Filing Portal</h1>
    <h3>The Single Portal Initiative</h3>
</div>

<div class="divider divider--mrfp">
    <div class="row">
        <div class="column large-2">
            <a class="button button--naked" href="{{site.url}}{{site.baseurl}}/">Home</a>
        </div>
        <div class="column large-2">
            <a class="button button--naked" href="{{site.url}}{{site.baseurl}}/about.html">About</a>
        </div>
        <div class="column large-2">
            <a class="button button--naked" href="{{site.url}}{{site.baseurl}}/people.html">People</a>
        </div>
        <div class="column large-2">
            <a class="button button--naked" href="{{site.url}}{{site.baseurl}}/rfi.html">RFI</a>
        </div>
        <div class="column large-2">
            <a class="button button--naked" href="{{site.url}}{{site.baseurl}}/#contact">Contact</a>
        </div>
        <div class="column large-2 selected">
            <a class="button button--naked">Blog</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 small-12 columns blog-main">


        <div class="row expanded align-center post">
            <div class="large-12 small-12 columns blog-main">
                <h2><a href="#">{{page.postTitle}}</a></h2>
                <p class="meta"><a class="date" href="#">{{ page.publishDate | date: '%B %d, %Y' }}</a> by {% for a in page.postAuthor %}{{a}}{% unless forloop.last == true %}, {% endunless %}{% endfor %}</p>
                <div class="">
                    {{page.postContent | markdownify}}
                </div>

                <p class="center">
                    <a class="button" href="{{site.url}}{{site.baseurl}}/blog.html">Back to Blog</a>
                </p>
            </div>
        </div>

    </div>
</div>