<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body id="">
    <header class="b-top-nav m-transparent">
        <div class="e-nav-group m-left">
            <span class="e-nav-item js-nav-trigger e-nav-trigger">
                <i class="material-icons">menu</i>
            </span>
        </div>
        <div class="e-nav-group m-right e-social-media">
            <a href="https://twitter.com/intent/tweet?text=MRFP%3A%20Multistate%20Registration%20and%20Filing%20Portal%20for%20Nonprofits&url=http%3A%2F%2Fmrfpinc.org%2F" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-twitter"></i></a>
        </div>
        <div class="e-logo"><a href="index.html">MRFP, Inc.</a></div>
    </header>

    <!-- Main Menu (Off Canvas) -->
    <nav class="b-main-menu">
        <!-- generated content here for side menu -->

    </nav>
    <main role="main">
        <!-- main content starts here -->

        <div class="b-top-section m-dark-blue">
            <h1><a href="index.html" class="m-no-decoration">Multistate Registration and Filing Portal</a></h1>
            <h3>The Single Portal Initiative</h3>
        </div>
        <div class="b-divider m-no-padding m-centered b-top-menu">
            <div class="row b-menu-buttons" data-equalizer>
                <div class="large-3 columns m-orange" data-equalizer-watch>
                    <a class="b-button m-naked m-block js-mobile-anchor" href="about.html">About</a>
                </div>
                <div class="large-3 columns m-green" data-equalizer-watch>
                    <a class="b-button m-naked m-block js-mobile-anchor" href="people.html">People</a>
                </div>
                <div class="large-3 columns m-yellow" data-equalizer-watch>
                    <a class="b-button m-naked m-block js-mobile-anchor" href="rfi.html">Request for Information</a>
                </div>
                <div class="large-3 columns m-purple" data-equalizer-watch>
                    <a class="b-button m-naked m-block" href="index.html#contact">Contact</a>
                </div>
            </div>
        </div>

        <a name="content"></a>
    </main>
    <div class="b-copyright">
        <div class="row">
            <div class="large-10 large-centered columns">

            </div>
        </div>
    </div>
    <div id="overlay"></div>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="js/wp.js"></script>

    <script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/6.1.2/js/foundation.equalizer.js"></script>


    <script> $(document).foundation(); </script>


    <script src="js/scripts.js"></script>
    <script src="js/site-scripts.js"></script>
</body>
</html>